* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(90deg, #819998 0, #7b8c8a 16.67%, #727b7a 33.33%, #676767 50%, #5b5356 66.67%, #51444a 83.33%, #493941 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}
.instagram {
    display: flex;
    align-items: center;  
}
.login {
    width: auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
}
.celular {
    margin-right: 1rem;
}
.celular img {
    width: auto;
    min-height: 90vh;
}
.container-login {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border: 1px solid #8f8f8f;
    padding: 1.5rem;
}
.container-login img{
    width: 13rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}
.input-login {
    width: 20rem;
    height: 2.8rem;
    margin-bottom: 4px;
    border: 1px solid #8f8f8f;
    border-radius: 3px;
    font-size: 9pt;
}
.botao-entrar {
    width: 20rem;
    height: 2.2rem;
    margin-top: 1rem;
    background-color: #0095F6;
    border: 1px solid #0095F6;
    border-radius: 3px;
    cursor: pointer;
}
.linha-login {
    display: flex;
    margin-top: 2rem;
    color: #a5a5a5;
}
.linha-horizontal {
    width: 110px;
    border-top: 1px solid #a5a5a5;
    margin: 8px 18px;
}
.link-facebook{
    margin-top: 1rem;
    color: #fff;
}
.link-esqueceu-senha {
    margin-top: 1rem;
    color: #8f8f8f;
    font-size: 10pt;
}
.container-cadastro {
    width: 25.5rem;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    padding: 20px 0;
    justify-content: center;
    border: 1px solid #8f8f8f;
}
.container-cadastro p {
    color: #fff;
    margin-left: 5px;
}
.container-store {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    align-items: center;
}
.stores {
    margin-top: 1rem;
}
.botao-store {
    background-color: rgb(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
.botao-store img {
    width: 12rem;  
}

