@media (max-width: 1150px) {
    .celular img {
        max-width: 90%;
        min-height: 15%;
    }
    .login {
        max-width: auto;
        min-height: 15%;
    }  
}
@media (max-width: 1020px) {
    .instagram {
        display: flex;
        flex-direction: column-reverse;
    }
    .celular img {
        max-width: 30vh;
        min-height: 15%;
    }
    .celular {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 2rem 1.8rem;  
    }
}
@media (max-width: 580px) {
    .botao-modo .botao-claro {
        width: 40px;
        height: 35px;
        padding: 2px;
        font-size:9px;
    }
    .botao-modo .botao-escuro {
        width: 40px;
        min-height: 35px;
        height: auto;
        padding: 2px;
        font-size:9px
    }
}
@media (max-width: 540px) {
    .celular {
        display: none;
    }
    .instagram {
        align-items: center;
        justify-content: center;
    }
    .botao-modo .botao-claro {
        width: 40px;
        height: 35px;
        padding: 2px;
        font-size:9px;
    }
    .botao-modo .botao-escuro {
        width: 40px;
        min-height: 35px;
        height: auto;
        padding: 2px;
        font-size:9px
    }
    .botao-modo {
        display: flex;
        position: fixed;  
    }
}